<%= form_with model: @genre do |f| %>
<div>
  <%= f.label :name %>
  <%= f.text_field :name %>
</div>
<div>
  
   <%= s.hidden_field :album_id %>
</div>
<div>
 
   <%= s.hidden_field :album_id %>
</div>


  <br>
  <%= f.submit%>
<% end %>