<h1>make a band or musician here</h1>
<h2>Let"s start with who's performing</h2>

<div class = "fields_with_errors">
<%= render partial: 'layouts/errors', locals: {object: @musician}%>
</div>

 <%= form_with model: @musician do |f| %>
<div>
  <%= f.label :name %>
  <%= f.text_field :name %>
</div>
<div>
  <%= f.label :instrument %>
  <%= f.text_field :instrument %> 
</div>
<div>
  <%= f.label :members %>
  <%= f.number_field :members, in: 1...11 %> 
</div>


  <br>
  <%= f.submit%>
<% end %>
