<h2>What are you going to call your masterpiece? </h2>

<%=form_for([@album, @song]) do |s|%>
<div>
  <%= s.label :title %>
  <%= s.text_field :title %> 
</div>
<br>
<div>
  <%= s.label :length %>
  <%= s.number_field :length, in: 1...20 %> 
</div>
<div>
<%= s.fields_for @genre do |genre|%>
Genre  : <%= genre.text_field :name %>
<%end%>
</div>
 <%= s.hidden_field :album_id %>
<br>

<%=s.submit%>
<% end %>