<h1>make a song here</h1>
<%= form_with model: @song do |f| %>
<div>
  <%= f.label :title %>
  <%= f.text_field :title %>
</div>
<div>
  <%= f.label :length %>
  <%= f.text_field :length %>
</div>

  <p>Select an Artist/Band</p>
  <div>
  <%= f.collection_select(:musician_id, Musician.all, :id, :name) %>
  </div>

  <p>Or create an Artist/Band</p>
  <div>
  <%= f.fields_for :musician do |musician_attributes|%>
  <%= musician_attributes.label :name %>
  <%= musician_attributes.text_field :name %>
  </div>
  <div>
  <%= musician_attributes.label :instrument %>
  <%= musician_attributes.text_field :instrument %>
  </div>
  <% end %>
  <br>
  <p>Is this a single?(if yes  </p>
  <%= f.submit%>
<% end %>
