<h1><%= @song.title.upcase %> by: <%= @song.musician.name %></h1>
<h2><%= @song.length %> minute play time</h2>
<h2>This song is from the "<%= @song.album.name.upcase %>" collection</h2>
<p>click <%= link_to 'here', edit_album_song_path(@song.album_id, @song) %> to edit the song title or play time</p>