<h1>Now Lets Name our album. Type "single" if this is the only track</h1>
<%= render partial: 'layouts/errors', locals:{ object: @album } %>
<%= form_with model: @album, url: { action: "create" } do |album_attributes| %>
  <%= album_attributes.label :name %>
  <%= album_attributes.text_field :name %>
  </div>
  <div>
  <%= album_attributes.label :release_date %>
  <%= album_attributes.text_field :release_date %>
  </div>
    <div>
  <p>Select the Musician who made this album</p>
  <%= album_attributes.collection_select(:musician_id, Musician.all, :id, :name)  %>
  </div>
  <%=album_attributes.submit%>
<% end %>