<h1><%= @album.name.upcase %> - <%=link_to "#{@album.musician.name}", @album.musician %></h1>
<h2> Released on <%=@album.release_date%> </h2>
<div>
<%= link_to 'Add a Song', new_album_song_path(@album) %> 
</div>
<br>
<% @album.songs.each do |s|%>
<div>
<%=link_to " #{s.title} ", album_song_path(@album, s) %>
</div>
<% end %>